<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	{{!-- My CSS file --}}
	<link rel="stylesheet" href="/public/css/style.css" type="text/css">
   	<link rel="stylesheet" href="/public/css/reset.css" type="text/css">
    {{!-- Google font --}}
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	{{!-- BootStrap --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Scrape This!</title>
</head>

<body>

	{{{ body }}}

{{!-- jQuery & JS file --}}
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	{{!-- <script src="../../public/javascript/app.js"></script> --}}
</body>

</html>